.tag-container {
    display: flex;
    padding: 0.25rem;
    align-items: center;
    border-radius: 6.25rem;
    background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

.tag-text-container {
    display: flex;
    padding: 0.1875rem 0.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--none, 0px);
}

.tag-text {
    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings: 'clig' off, 'liga' off;
}