.tag-container {
    display: flex;
    padding: 4px;
    align-items: center;
    border-radius: 100px;
    background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

.tag-text-container {
    display: flex;
    padding: 3px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--none, 0px);
}

.tag-text {
    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings: 'clig' off, 'liga' off;
}