.cadastro-container {
    display: flex;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-components{
    height: 100vh;
}

.left-components img{
    height: 100%;
}

.right-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3 {
    color: var(--Color-Brand-Primria-Primary-90, var(--Color-Brand-Primria-Primary-90, #224));
    text-align: center;
    font-style: normal;
    line-height: 2.5rem; /* 83.333% */
    margin-bottom: 2rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-input,
.surname-input {
    width: calc(50% - 0.5rem);
}

@media (min-width: 580px) and (max-width: 1250px) {
    .cadastro-container {
        height: 100vh;
        display: flex;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url('../../assets/images/img_cadastro_mobile.png');
        background-repeat: no-repeat;
    }

    .internal-container{
        width: 100%;
        padding: 0px 20px;
    }

    .internal-container button{
        width: 100%;
    }

    .right-components h3{
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .left-components {
        display: none;
    }


}


@media (max-width: 580px){
    .cadastro-container {
        height: 100vh;
        display: flex;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url('../../assets/images/img_cadastro_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .internal-container{
        width: 100%;
        padding: 0px 20px;
    }

    .internal-container button{
        width: 100%;
    }

    .name-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .name-container .name-input,
    .name-container .surname-input{
        width: 100%;
    }

    .name-container .name-input input,
    .name-container .surname-input input{
        width: 100%;
    }
    

    .right-components h3{
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    
    .left-components {
        display: none;
    }


}