.input-container {
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    margin-bottom: 1rem;
    gap: var(--none, 0px);
    border-radius: var(--borderRadius, 0.25rem);
    border: var(--none, 0.0625rem) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23)); 
}

.input-container,
.password-input-container{
    transition: all 200ms linear;
}

.input-container:hover,
.password-input-container:hover,
.tags-input-container:hover,
textarea:hover{
    border-color: #000;
}


.input-container:focus-within,
.password-input-container:focus-within,
.tags-input-container:focus-within,
textarea:focus-within{
    outline: none;
    border-color: var(--color-info-100);
}

.input-container:enabled,
.password-input-container:enabled{
    border: var(--none, 0.0625rem) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23)); 
}

.input-container:focus-within .label-container label,
.password-input-container:focus-within .label-container label,
.tags-input-container:focus-within .tags-label-container label,
textarea:focus-within+label.description-label{
    color: var(--color-info-100);
}


.input-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 30px;
    width: 100%;
    height: 100%;
    padding: var(--none, 0px) 12px;
    align-self: stretch;
    background: none;
    border: none;
    outline: 0px;
}

.input-text {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.0094rem;
}

.label-container {
    margin-top: -0.8125rem;
    margin-left: 0.625rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    background-color: #fff;
}

label {
    color: var(--Neutral-Colors-Neutral-110, #515255);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.025rem;
}

@media (max-width: 1250px){
    .input-content button{
        display: flex;
        justify-content: flex-end;
    }
}


@media (max-width: 255px){
    .input-content input::placeholder{
        font-size: 10px;
    }
}