.project-area-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    height: 100%;
    flex-shrink: 0;
    border-radius: var(--borderRadius, 0.25rem);
    margin-right: 1.5rem;
    cursor: pointer;
}

.empty-bg {
    background: var(--Neutral-Colors-Neutral-70, #E6E9F2);
}

.non-empty-bg {
    background: rgba(230, 233, 242, 0.20);
}


@media (max-width: 570px){
    .project-area-container { 
        width: 100%;
    }
}