.first-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 122px;
    background: none;
    border: none;
    cursor: pointer;
}

.empty-img {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

.first-project-text {
    display: flex;
    width: 100%;
    color: var(--Neutral-Colors-Neutral-120, #303133);
    opacity: 0.6;
}