.card-perfil-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
}

.card-perfil-img {
    display: flex;
    width: 122px;
    height: 122px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-info-container {
    display: flex;
    padding: var(--none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--3, 24px);
    border-radius: var(--none, 0px);
}

.card-text-container {
    display: flex;
    padding: var(--none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 16px);
    border-radius: var(--none, 0px);
}

.card-h5 {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    font-style: normal;
    line-height: 24px;
}

.card-country {
    color: var(--Neutral-Colors-Neutral-130, #0B0C0D);
    font-style: normal;
    line-height: 16px; /* 100% */
    letter-spacing: 0.15px;
    opacity: 0.5;
}