.login {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.login-right-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}