.login-cadastro {
    display: flex;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.login-left-components{
    height: 100vh;
}

.login-left-components img{
    height: 100%;
}

.right-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
<<<<<<< Updated upstream:src/styles/login-cadastro.css
}

.name-container {
    display: flex;
    flex-direction: row;
    width: 517px;
}

.surname {
    margin-left: 16px;
=======
    height: 100vh;
>>>>>>> Stashed changes:src/styles/login.css
}