.login-cadastro {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.right-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-container {
    display: flex;
    flex-direction: row;
    width: 517px;
}

.surname {
    margin-left: 16px;
}