.subtitle-1-container {
    margin-top: 16px;
}

.subtitle-1 {
    color: var(--Neutral-Colors-Neutral-100, #818388);

    /* [Orange P] Style Guide/Subtitle 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.15px;
}