.title-h5 {
    color: var(--Neutral-Colors-Neutral-110, #515255);
    /* [Orange P] Style Guide/H5 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}