.small-button {
    display: flex;
    padding: 0.5rem 1.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, #F52);
    border: none;

    /* elevation/2 */
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.small-button:hover {
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-110, #C40);

    /* elevation/4 */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.small-button:disabled {
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
}

.small-button:focus {
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, #F52);

    /* elevation/6 */
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.20), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.small-button-text {
    color: var(--Neutral-Colors-Neutral-60, #FCFDFF);
    font-feature-settings: 'clig' off, 'liga' off;

    /* [Orange P] Style Guide/Button */
    font-style: normal;
    line-height: 1.625rem; /* 173.333% */
    letter-spacing: 0.0288rem;
    text-transform: uppercase;
}

.small-button-text:disabled {
    color: var(--action-disabled, rgba(0, 0, 0, 0.38));
    box-shadow: none;
}
