.card-perfil-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.perfil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 122px;
}

.card-perfil-img {
    display: flex;
    width: 122px;
    height: 122px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms linear;
}

.card-perfil-hover{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgba(23, 23, 23, 0.5);
    transition: all 200ms linear;
    cursor: pointer;
    opacity: 0;
}


.perfil-container:hover .card-perfil-img{
    background-color: rgba(0, 0, 0, 0.4);
}

.perfil-container:hover .card-perfil-hover{
    opacity: 1;
}


.card-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--3, 1.5rem);
}

.card-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 1rem);
}

.card-h5 {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    font-style: normal;
    line-height: 1.5rem;
}

.card-country {
    color: var(--Neutral-Colors-Neutral-130, #0B0C0D);
    font-style: normal;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.0094rem;
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 570px){
    .card-perfil-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .button-content img,{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 320px){
    .card-perfil-img {
        display: flex;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}