p{
    color: var(--color-neutral-110);
}

.descobrir-container { 
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

.descobrir-bottom {
    height: 100vh;
    margin: 0 30px;
    justify-content: space-between;
    display: grid;
    gap: 10px;
	grid-template-areas: 
		"A A A"
		"B . ."
		"C C C"
	;
    grid-auto-rows: 25%;
    /* background-color: red; */
}


.descobrir-h4 {
    grid-area: A;
    text-align: center;
    color: var(--color-principal-90);
    align-self: flex-end;
}


.descobrir-h6 {
    color: var(--Neutral-Colors-Neutral-130, #0B0C0D);
    opacity: 0.6;
}

.descobrir-input {
    width: 513px;
    flex-direction: column;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.descobrir-search{
    grid-area: B;
    height: 33vh;
    /* background-color: blue; */
}

.descobrir-projects {
    grid-area: C;
    width: calc(100vw - 90px);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.modelo-img{
    height: 85%;
}


.modelo img{
    width: 100%;
    height: 100%;
}

.modelo-info{
    margin-top: 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}

.modelo-info img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user-info {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.tags-container {
    display: inline-flex;
    gap: 4px;
}