.add-project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    max-width: 890px;
    max-height: 522px;
    border-radius: var(--none, 0px);
    background: #FEFEFE;
    padding: 24px 32px;
    z-index: 999;
    /* background-color: transparent; */
}

.add-project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "A ."
        "B C"
    ;
    grid-auto-rows: auto;
    width: 890px;
    height: 522px;
    background: #FEFEFE;
    padding: 24px 12px;
    gap: 25px;
}


.add-project-header{
    grid-area: A;
}

.add-project-left{
    grid-area: B;
    display: grid;
    gap: 10px;
}

.add-project-right{
    grid-area: C;
}

.view-post-button {
    background: none;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.add-project-h5,
.content-left-text,
.view-post-button {
    color: var(--color-neutral-110);
}

.button-text{
    color: var(--Neutral-Colors-Neutral-120, #303133);
    line-height: 15px;
    opacity: 0.6;
    text-align: left !important;
}

.img-container{
    display: flex;
    justify-content: center;
}

.add-project-img {
    display: flex;
    width: 389px;
    height: 304px;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius, 4px);
    background: var(--color-neutral-70);
}

.selected-img {
    display: flex;
    width: 389px; 
    height: 304px;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius, 4px);
}

.add-img-button {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 91px 20px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: var(--borderRadius, 4px);
    transition: all 200ms linear;
}

.add-img-button:hover{
    filter: brightness(0.9);
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-buttons {
    display: flex;
    align-items: flex-start;
    gap: var(--2, 16px);
}

.description-container {
    position: relative;
}

.description-input {
    width: 100%;
    min-height: 120px;
    padding: 16px 24px;
    border-radius: var(--borderRadius, 4px);
    border: var(--none, 1px) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
    background: none;
    color: var(--Neutral-Colors-Neutral-120, #303133);
}

.description-label {
    position: absolute;
    left: 1px;
    margin-top: -9px;
    margin-left: 0.625rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    background-color: #fff;
}

.description-input:focus {
    outline: none;
}


@media (max-width: 920px){

    .add-project {
        position: fixed;
        align-items: start;
        height: 90vh;
        width: 100%;
        max-width: 90vw;
        max-height: none;
        background: transparent;
        padding: 0px;
        overflow-y: auto;
    }

    .add-project-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "A"
            "C"
            "B"
        ;
        grid-auto-rows: auto;
        width: inherit;
        height: 1000px;
        padding: 24px 32px;
        margin: 0px;
    }

    .add-project-left,
    .add-project-right{
        width: 100%;
    }

    .add-project-img,
    .selected-img {
        width: 100%;
    }
    
}

