
.delete-project {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.delete-project-container {
    display: flex;
    width: 421px;
    padding: var(--5, 40px) 42px;
    align-items: flex-end;
    align-content: flex-end;
    gap: var(--4, 32px) var(--2, 16px);
    flex-wrap: wrap;
    border-radius: var(--none, 0px);
    background: var(--Neutral-Colors-Neutral-60, #FCFDFF);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.delete-project-h5 {
    width: 255px;
    flex-shrink: 0;
    color: var(--Neutral-Colors-Neutral-110, #515255);
}

.delete-project-text {
    width: 337px;
    flex-shrink: 0;
    color: var(--Neutral-Colors-Neutral-110, var(--Neutral-Colors-Neutral-110, #515255));
}

.delete-project-buttons {
    display: flex;
    align-items: flex-start;
    gap: var(--2, 16px);
}


@media (max-width: 450px){
    .delete-project-container {
        width: 90vw;
    }

    .delete-project-h5,
    .delete-project-text,
    .delete-project-buttons {
        width: 100%;
    }

    .delete-project-buttons {
        flex-direction: column;
    }

    .delete-project-buttons button{
        width: 100%;
    }
}


@media (max-width: 275px){
    .delete-project-h5{
        font-size: 18px;
    }

    .delete-project-text {
        font-size: 14px;
    }

    /* .delete-project-text{

    } */
}